body {
    background: rgb(35, 207, 190);
    margin-left: 600px;
}

h1 {
    color: blue;
    margin-left: 100px;
}

h2 {
    margin-top: -600px;
}

.container img{
    height: auto;
    width: 700px;
    margin-left: -700px;
}